@use "../presets" as *;

.hero {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: $container-secondary;

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 57px;
    color: $color-secondary;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 225px;
    min-height: 65px;
    padding: 0.5em;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-primary;
  }
}